#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;  
}

body {
  color: rgb(255, 255, 255);
  font-family: "Inter";
}

#title {
  margin-left: 4%;
  margin-top: 2%;
  font-size: 30px;
}

img {
  display: block;
}


#main_img_1 {
  float: right;
  margin-right: 6%;
  width: 35%;
  background-color:#050505;
  border-radius: 25px;
  padding: 7.5px;
}

#main_img_2 {
  float: left;
  margin-left: 12%;
  margin-top: 10%;
  width: 35%;
  background-color:#0c1019;
  border-radius: 25px;
  padding: 7.5px;
}

#git_logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px;
}

#main_img_1:hover {
	background-color: #ffffff;
  width: 40%;
  cursor: pointer;
}
#main_img_2:hover {
	background-color: #ffffff;
  width: 40%;
  cursor: pointer;
}
#git_logo:hover {
	background-color: #000000;
}

#back {
  width: 90%;
  height: 90vh;
  margin: 2.5% auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  border: 1px solid #000000;
  overflow: hidden;
}

#bar {
  height: 5vh;
  background-color: #333333;
  border-radius: 8px 8px 0 0;
  border: 0px solid #333333;
}

#tab {
  position: relative;
  height: 1000vh;
  background-color: #000000;
  border-radius: 8px 8px 0 0;
  width: 15%;
  top: 10px;
  left: 10px;
  padding-top: 0.5% ;
  padding-left: 5px;
  padding-right: 5px
}

#croix {
  position: relative;
  left: 85%;
  height: 30px;
  width: 30px;  
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}
#croix:hover {
	background-color: #6d6b6b;
  cursor: pointer;
}
